name: Build Tweak

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Theos
      run: |
        sudo git clone --recursive https://github.com/theos/theos.git /opt/theos
        # تنظيف وتحميل الـ SDKs بشكل صحيح لتجنب خطأ 128
        sudo git clone https://github.com/theos/sdks.git /opt/theos/sdks_temp
        sudo mv /opt/theos/sdks_temp/* /opt/theos/sdks/ || true
        echo "THEOS=/opt/theos" >> $GITHUB_ENV

    - name: Build Tweak
      run: |
        export THEOS=/opt/theos
        make package FINALPACKAGE=1
        
    - name: Upload Result
      uses: actions/upload-artifact@v4
      with:
        name: RaveGhostDylib
        path: packages/*.deb
